/* **  VARIABLES  ** */

:root {
  --font-size-main-heading: 2.25rem;
  --font-size-secondary-heading: 1.5rem;
  --font-size-text: 1.125rem;
  --font--weight-bld: 900;
  --font-wight-reg: 400;
  --font-stack: 'Lato', sans-serif;
  --col-primary: #2e354f;
  --col-secondary: #fff;
  --col-tertiary: #ef5839;
  --width-content: 90%;
  --padding-header: 2.5em;
  --padding-section: 1.875em;
}

/* **  RESET  ** */

body {
  margin: 0;
  font-size: var(--font-size-text);
  color: var(--col-primary);
}

* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin-top: 0;
}

.last-child {
  margin-bottom: 0;
}

/* ** GENERAL */

h1,
h2,
strong {
  font-weight: var(--font--weight-bld);
}

h1 {
  font-size: var(--font-size-main-heading);
}

h2 {
  font-size: var(--font-size-secondary-heading);
  color: var(--col-tertiary);
}

p {
  font-weight: var(--font-wight-reg);
}

section {
  padding: var(--padding-section);
}

.section-one img {
  margin-bottom: 18px;
}

.content-container {
  width: var(--width-content);
  margin: 0 auto;
  max-width: 720px;
}

a {
  color: var(--col-tertiary);
}

a:hover,
a:focus {
  color: #d4b44c;
}

.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  text-decoration: none;
  border: none; /* Reset button border */
  cursor: pointer; /* Ensure cursor changes on hover */
  border: 2px solid transparent;
}

/* ** HEADER ** */

header {
  background-color: var(--col-primary);
  padding: var(--padding-header);
  color: var(--col-secondary);
}

/* ** SECTION ONE */

.section-one img {
  width: 100%;
}

/* ** SECTION TWO ** */

.section-two {
  color: #fff;
  background-color: var(--col-primary);
}

.btn-primary {
  background-color: var(--col-tertiary);
  color: var(--col-secondary);
  border-radius: 20px;
  transition: all 0.5s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #2e354f;
  color: var(--col-secondary); /* Ensure text color changes on hover */
  border-color: var(--col-tertiary);
  transform: scale(1.05); /* Add a slight scale effect */
}

.btn-secondary {
  background-color: var(--col-secondary);
  color: #2e354f;
  border: 2px solid transparent; /* Ensure initial border is transparent */
  border-radius: 20px;
  margin-left: 0.75em;
  transition: all 0.5s ease;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #2e354f;
  color: var(--col-secondary); /* Ensure text color changes on hover */
  border-color: var(--col-tertiary); /* Change border color on hover */
  transform: scale(1.05); /* Add a slight scale effect */
}
@media (max-width: 532px) {
  .btn-secondary {
    margin-left: 0;
    margin-top: 1em;
  }
}
